@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-Bold"), url("assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-Medium"), url("assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-Regular"), url("assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-Italic"), url("assets/fonts/Roboto/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-Light"), url("assets/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}


@font-face {
  font-family: 'Roboto-Thin';
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-Thin"), url("assets/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
}

body{
  font: 14px 'Roboto-Regular'!important;
  font-weight: 400px;
}

h4.ant-typography {
  font-family: 'Roboto-Regular';
  font-size: 25px !important;
  font-weight: 400 !important;
}

h5.ant-typography {
  font-family: 'Roboto-Medium';
  font-size: 22px !important;
  font-weight: 500 !important;
}

h1.ant-typography{
  font-family: 'Roboto-Bold';
  font-size: 40px !important;
  font-weight: 600 !important;
}