// main
$border-radius-sm: 4px;
$border-radius-md: 6px;

// colors
$black: #000000;
$light-black: #252733;

$white: #ffffff;
$dark-white: #FAFAFA;

$grey: #999CAD;
$light-grey: #E2E8F0;

$purple: #8073B5;
$blue: #40B9FF;
$brown: #8E4055;

